$screen: #C5C1C2;
$steel: #0A1612;
$denim: #1A2930;
$marigold: #F7CE3E;

@mixin grayscale( $percentage ) {
  -webkit-filter: grayscale($percentage);
  filter: grayscale($percentage);
}

body { background-color: $screen; }
.container-xl { width: 98%; }

