label{
	font-size: 22px;
}

.sensorIcon{
	height:86px;
}

.artist-details{
	font-style: italic;
	font-weight: normal;
	font-size: 28px;
	font-family: inherit;
}

.artist-label{
	font-weight: normal;
	font-size: 24px;
	font-family: inherit;
}