<div class="controls-container">
  <button type="button" class="btn btn-secondary btn-lg btn-group">
  <i class="fa fa-power-off"></i>
</button>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-step-backward"></i>
  </button>
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-play"></i>
  </button>
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-step-forward"></i>
  </button>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-volume-down"></i>
  </button>
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-volume-up"></i>
  </button>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-music"></i>
  </button>
    <button type="button" class="btn btn-secondary btn-lg">
    <i class="fa fa-clock-o"></i>
  </button>
  </div>
</div>
