<div class="container-xl">
  <div class="row">
    <div class="col-sm-12">
      <a href="#"><img src="../../assets/sidebar/pandora.png"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#"><img src="../../assets/sidebar/3191-200.png"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#"><img src="../../assets/sidebar/1321-xbox-logo2.png"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#"><img src="../../assets/sidebar/5426-200.png"></a>
    </div>
  </div>
</div>
