<div class="container info-container">
  <div class="row">
    <div class="col-md-5">
      <img src="{{ nowPlaying?.albumUri }}">
    </div>
    <div class="col-md-6">
      <div class="container-xl">
        <div class="row">
          <div class="col-md-6">
            <em>Artist</em>
            <p> {{ nowPlaying?.artist}}</p>
          </div>
          <div class="col-md-6">
            <em>Album</em>
            <p> {{ nowPlaying?.album }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <em>Song</em>
            <p> {{ nowPlaying?.song }}</p>
          </div>
          <div class="col-md-6">
            <em>Radio</em>
            <p> {{ nowPlaying?.genre }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <p *ngIf="!!nowPlaying?.loved"><i class="fa fa-heart"></i></p>
            <p *ngIf="!nowPlaying?.loved"><i class="fa fa-heart-o"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <em>Volume</em>
            <p> {{ volume }} db</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
